.filter-containter {
  margin-bottom: 10px;
}

.filter-btn {
  background-color: #30d5c8 !important;
  color: black !important;
  font-weight: 600 !important;
  border: none !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.filter-btn:hover {
  background-color: #25baad !important;
}
