.title {
  text-align: center;

  font-weight: 600;
  margin-top: 20px;
}

.body-container {
  margin-top: 20px;
  max-width: 550px;
  min-width: 326px;
  margin-inline: auto;
}

.add-title-container {
  display: flex;
  align-items: center;

  background-color: var(--bg-color);

  border-radius: 8px;

  height: 50px;
  font-size: 20px;

  margin-bottom: 10px;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.add-title-label {
  font-weight: 600;

  text-align: center;

  padding: 10px 30px;
}

.add-title-input {
  flex: 1;
  height: 100%;
  border: none;
  width: 100px;

  padding-left: 10px;
}

.add-title-input:focus {
  outline: none;
}

.add-title-container:focus-within {
  border: 2px solid black;
}

.add-title-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;

  padding: 10px 20px;
  height: 100%;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  transition: 0.4s ease;
}

.add-title-btn:hover {
  background-color: var(--hover-bg-color);
}
